.form{
  margin-top: 100px;
  margin-bottom: 100px;
}

.selected-timeslot {
  color: white;
  background-color: #141414;
}

.timeslot {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  margin: 4px;
  padding: 4px;
}

.timeslots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
