.not-found-header {
  //margin-top: 17%;
  //text-align: center;
  //color: gray;
}

.flex-container {
  margin-top: 17%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: gray;
}